DATABASE_URL=mysql+pymysql://smart_user:1234@localhost/smart_parking
SECRET_KEY=a7F3kL9xQ2mP8zR5vWc1Tn6YbH4uE0sJ
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
GEMINI_API_KEY=AIzaSyDs2qHTp_XLV1UlA3gAroDl0qrQM2tBVKU
ENTRY_CAM_URL=http://192.168.1.100/capture
EXIT_CAM_URL=http://192.168.1.101/capture
CAPTURED_IMAGES_DIR=captured_images
ENVIRONMENT=development
